<?= Form::open(['id' => 'createForm']) ?>

	<input type="hidden" name="comment_mode" value="1" />
	<input type="hidden" name="redirect" value="true">

	<div class="layout">
		<div class="layout-cell">
			<div class="layout-relative">
				<div class="layout-absolute">
					<div class="control-scrollbar" data-control="scrollbar">

						<div class="dialog-header">
							<button type="button" class="close" data-dismiss="dialog">&times;</button>
							<h4 class="dialog-title"><?= e($this->pageTitle) ?></h4>
						</div>

						<?php if (!$this->fatalError): ?>

							<div class="dialog-body hide-tabs">
								<?= $this->formRender() ?>
							</div>

							<div class="dialog-footer loading-indicator-container">
								<button
									type="submit"
									data-request="onCreateRecord"
									data-request-data="redirect:true"
									data-hotkey="ctrl+s, cmd+s"
									data-dialog-load-indicator
									class="btn btn-primary oc-icon-floppy-o">
									<?= e(trans('backend::lang.form.create')) ?>
								</button>

								<button
									type="button"
									class="btn btn-default oc-icon-times"
									data-dismiss="dialog">
									<?= e(trans('backend::lang.form.cancel')) ?>
								</button>
							</div>

						<?php else: ?>

							<div class="dialog-body">
								<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
							</div>

							<div class="dialog-footer loading-indicator-container">
								<button
									type="button"
									class="btn btn-default oc-icon-times"
									data-dismiss="dialog">
									<?= e(trans('backend::lang.form.close')) ?>
								</button>
							</div>

						<?php endif ?>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		setTimeout(
			function(){
			    $('#createForm input.form-control:first').focus()
			}, 310
		)
	</script>

<?= Form::close() ?>
