<?= Form::open(['id' => 'previewForm']) ?>

	<input type="hidden" name="comment_mode" value="1" />

	<div class="layout">
		<div class="layout-cell">
			<div class="layout-relative">
				<div class="layout-absolute">
					<div class="control-scrollbar" data-control="scrollbar">

						<div class="dialog-header">
							<button type="button" class="close" data-dismiss="dialog">&times;</button>
							<h4 class="dialog-title"><?= e($this->pageTitle) ?></h4>
						</div>

						<?php if (!$this->fatalError): ?>

							<div class="dialog-body">
								<?= $this->formRenderPreview() ?>
							</div>

							<div class="dialog-footer loading-indicator-container">
								<button
									type="button"
									class="btn btn-default"
									data-dismiss="dialog">
									<?= e(trans('backend::lang.form.cancel')) ?>
								</button>
							</div>

						<?php else: ?>

							<div class="dialog-body">
								<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
							</div>

							<div class="dialog-footer loading-indicator-container">
								<button
									type="button"
									class="btn btn-default"
									data-dismiss="dialog">
									<?= e(trans('backend::lang.form.close')) ?>
								</button>
							</div>

						<?php endif ?>

					</div>
				</div>
			</div>
		</div>
	</div>

<?= Form::close() ?>