{% flash %}
	<div class="alert {{ type }} active" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

		<div class="media">
			<div class="media-left">
				<i class="media-object icon icon-exclamation icon-3x"></i>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Error</h4>
				{{ message|___|default(message) }}
				{% if validation.fails %}
					{% for item in validation.messages.all %}
						<p>{{ item }}</p>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endflash %}